/* Estilos Página Bolo.html */
.center{
    text-align: center;
}
.h1 {
    color: rgba(235, 160, 23, 0.884);
    text-align: center;
  }
body {
    background-color: lightgray;
  }
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }
 .p-30{
    padding: 30px;
  }
  .br-50{
    border-radius: 50%;
  }
  .log{
    text-decoration: none;
    
  }

  /* Estilos Página ListaSpotify.html */

.titulo{
  color: green;
  text-align: center;
}
.link{
  text-decoration: none;
  color: blue;
}
.link:hover{
  color: green;
}
.boldcenter{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.esquerda{
  align-items: flex-start;
  
}

/* Estilos emailCadastro.html */

.body{
  background-color: white;
}
.flex-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}